
<div class="background"></div>
<div class="background-texture"></div>
    <section class="carousel">
      <h2 class="categories__title">Juegos</h2>
      <div class="carousel__container justify-content-between">
            <div class="carousel-item">
                <img
                    class="carousel-item__img"
                    src="../../../assets/el-ahorcado.jpg"
                    alt="people"
                />
                <div class="carousel-item__details">
                    <div class="controls">
                        <span class="fas fa-play-circle"></span>
                        <span class="fas fa-plus-circle"></span>
                    </div>
                    <h5 class="carousel-item__details--title">El Aho_cado</h5>
                    <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
                </div>
            </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../../../assets/Mayor-Menor.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Mayor | Menor</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../../../assets/Preguntados.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Preguntados</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../../../assets/Yo.jpg"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Quien Soy</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div> 
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="../../../assets/Yo.jpg"
            alt="people"
          />
          <div class="carousel-item__details" routerLink="/quien-soy">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Quien Soy</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div> 
      </div>
    </section>